body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.app {
	display: flex;
	flex-wrap:wrap;
	height: inherit;
}

.app > div {
	height: inherit;
} 

.map {
	background-color: lightgray;
}

#g-map {
	height: inherit;
}

.info-window {
	background-color: white;
}

.info-window .header {
	border-bottom: 1px solid lightgray;
}

.info-window .content {
	padding: 5px 15px;
}

/*.app {
	display: flex;
	flex-wrap:wrap;
	height: inherit;
}

@media screen and (min-width: 975px) {
	.map {
		width: 75%;
		height: inherit;
		background-color:lightgray;
	}

	.info-window {
		width: 25%;
	}
}*/

@media screen and (max-width: 405px) {
	.map {
		width: 100%;
		order: 0;
		height: 200px;
		margin-bottom: 1.2em;
	}

	.info-window {
		order:1;
		width: 100%;
		padding: 0 0.5em;
	}

	.info-window .header {
		padding: 7px 15px 20px 15px
	}

}

@media screen and (min-width: 406px) and (max-width: 520px) {
	
	.map {
		width: 100%;
		order: 0;
		height: 220px;
		margin-bottom: 1.2em;
	} 

	.info-window {
		order: 1;
		width: 100%;
		padding: 0 0.5em;
	}

	.info-window .header {
		padding: 7px 15px 20px 15px
	}

}

@media screen and (min-width: 521px) and (max-width: 650px) {
	
	.map {
		width: 100%;
		order: 0;
		height: 220px;
		margin-bottom: 1.2em;
	}

	.info-window {
		order: 1;
		width: 100%;
		padding: 0 0.5em;
	}

	.info-window .header {
		padding: 7px 15px 20px 15px
	}

}

@media screen and (min-width: 651px) and (max-width: 768px) {
	
	.map {
		width: 100%;
		order: 0;
		height: 230px;
		margin-bottom: 1.2em;
	}

	.info-window {
		order: 1;
		width: 100%;
		padding: 0 0.5em;
	}

	.info-window .header {
		padding: 7px 15px 20px 15px
	}

} 

@media screen and (min-width: 769px) and (max-width: 991px) {

	.map {
		width:100%;
		height: 100vh;
		margin-bottom: 0;
	}

	.info-window {
		width: 350px;
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	}

	.info-window .header {
		padding: 20px 15px;
	}

} 

@media screen and (min-width: 992px) and (max-width: 1170px) {

	.map {
		width:100%;
		height: 100vh;
		margin-bottom: 0;
	}

	.info-window {
		width: 380px;
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	}

	.info-window .header {
		padding: 20px 15px;
	}

} 

@media screen and (min-width: 1171px) {

	.map {
		width:100%;
		height: 100vh;
		margin-bottom: 0;
	}

	.info-window {
		width: 430px;
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	}

	.info-window .header {
		padding: 20px 15px;
	}

} 