<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Neighborhood Map</title>
	<link rel="stylesheet" href="/static/style/style.css">
	<link rel="stylesheet" href="/static/style/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<main class="app">
		<section class="map">
			<div id="g-map"></div>
		</section>
		<section class="info-window">
			<div class="header">
				<form class="form" data-bind="submit: searchEvents">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search Event Here" data-bind="value:searchKeywords">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Search</button>
						</span>
					</div>
				</form>
			</div>
			<div class="content">

				<ul class="events list" data-bind="template: {name: 'event-list', foreach: events, as: 'event', if: showEventList}, visible: showEventList"></ul>

				<div class="event description" data-bind="template: {name: 'event-description', data: event, if: showEventDescription}, visible: showEventDescription"></div>
				<div class="error" data-bind="visible: showErrorScreen">
					<div class="not-found" data-bind="template: {name: 'error-not-found', if: showNotFoundError}"></div>
					<div class="timeout" data-bind="template: {name: 'error-timeout', if: showTimeoutError}"></div>
					<div class="default" data-bind="template: {name: 'error-default', if: showDefaultError}"></div>
				</div>
			</div>
			<script type="text/html" id="event-list">
				<li class="item event" data-bind="click: function(event){$root.loadDescription(event)}">
					<h4 class="title" data-bind="text:event.name"></h4>
					<p class="location" data-bind="text:event.location"></p>
					<p class="starting-time" data-bind="text:event.time"></p>
				</li>
			</script>
			<script type="text/html" id="event-description">
				<div class="go-back for-desktop">
					<a data-bind="click: $root.goBackToEventList">Go back</a>
				</div>
				<h2 class="title" data-bind="text:name"></h2>
				<p class="organizer-name" data-bind="text:organizerName"></p>
				<p class="time" data-bind="text:time"></p>
				<h4 class="sub-title">Description:</h4>
				<p class="description" data-bind="text:description"></p>
				<a class="btn btn-success" data-bind="attr:{href:url}">Learn More</a>
			</script>
			<script type="text/html" id="error-not-found">
				<p>Sorry. Search result returned empty.</p>
			</script>
			<script type="text/html" id="error-timeout">
				<p>Sorry. Search session timed out.</p>
			</script>
			<script type="text/html" id="error-default">
				<p>Sorry. Error occured while retrieving data.</p>
			</script>
		</section>
	</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzjRtlz7LH0-t1hmmSE_yenGqcayD4Euo&callback=InitMap"></script>
<script src="/static/js/lib/knockout-3.4.2.js"></script>
<script src="/static/js/app.js"></script>
</html>